* {
    font-family:"Roboto Mono";
}
body {
    background: #DDB9A3 url("./assets/footer_img.jpg") no-repeat fixed;
}
nav p {
    margin-left:10%;
    margin-right:10%;
}
nav button {
    display:inline-block;
    color:white;
    width:8em;
    text-align:center;
    border:2px solid rgba(0,0,0,0);
    border-radius:4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration:.4s;

}
nav button:hover {
    background-color:rgba(255,255,255,0.3);
}
.footer-image > div {
    height:60%;
}
.footer-nav {
 padding:20px;
}
.header-block {
    width:100%;
    margin-top:2em;
    margin-bottom:3em;
}
.overview {
    background-color:#DDB9A3;
    text-align:center;
    margin:2px;
    border-radius:2px;
    border:2px solid #FF764E;
    margin-bottom:1em;
}
.content-section p {
    background-color:#DDB9A3;
    text-align:center;
    margin:2px;
    border-radius:2px;
    border:2px solid #FF764E;
    margin-bottom:1em;
}
.image-block {
    display: inline-block;
    width:35%;
    margin-left:5%;
    margin-right:0%;
    vertical-align:top;
    text-align:center;
}
.title-block {
    display:inline-block;
    width:45%;
}
h1 {
    text-align:center;
    font-family:"Chelsea Market",cursive;
    font-weight:800;
    margin-left:5%;
    margin-right:0%;
    letter-spacing:.1em;
    font-size:2em;
}
.title-block p {
    text-align:center;
    vertical-align:bottom;
    font-size:.8em;
    font-weight:600;
    margin-left: 5%;
    margin-right:0%;
}

nav a {
    width:100%;
    font-size:100%; 
     margin-top:.1em;
    margin-bottom:.1em;
    height:100%;
    border-radius:25%;
    padding:1.8%;
    line-height:100%;
    text-align:center;
    display: block;
    color:#FFFFFF;
    text-decoration-line:none;
}
.image-block img {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.49);
    
    margin-top:2em;
    margin-bottom:4em;
    width: 90%;
    border-radius: 50%;
}
.content-section {
    width:60%;
    margin:auto;
    text-align:center; 
}
.plan {
    margin-right:8em;
    background-color:#FF764E;
}
.learn {
    background-color:#5ED3EB;
}
.involve {
    margin-left:8em;
    background-color:#FFCD69;
}
.plan:hover {
    border:2px solid #FF764E;
    color:#0f0f0f;
    font-weight:900;
}
.learn:hover {
    border:2px solid #5ed3eb;
    color:#0f0f0f;
    font-weight:900;
}
.involve:hover {
    border:2px solid #ffcd69;
    color:#0F0F0F;
    font-weight:800;
}
.footer-image {
    height:20em;
    margin-left:auto;
    margin-right:auto;
    background-image: url("./assets/footer_img.jpg");
}